<!-- pedidos_necessitam_contato.html -->
{% extends 'base.html' %}

{% block title %}Pedidos Necessitam Contato{% endblock %}

{% block content %}
<style>
    h2 {
        text-align: center;
        font-size: 2rem; /* Ajuste o tamanho do texto se necessário */
    }

    .crm-icon {
        font-size: 2rem; /* Ajuste o tamanho do ícone para combinar com o tamanho do texto */
        margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    }

    .table th, .table td {
        font-size: 0.85rem; /* Ajuste o tamanho da fonte das células da tabela */
    }

    .table thead th {
        font-size: 0.90rem; /* Ajuste o tamanho da fonte dos cabeçalhos da tabela */
    }
</style>

<br><br><br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="mb-4">
                <i class="bi bi-phone-flip fs-3"></i> Necessitam Contato
            </h2> 
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID Pedido</th>
                    <th>Cliente</th>
                    <th>Data do Último Pedido</th>
                    <th>Notas</th> 
                    <th>Contactar</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos_necessitam_contato %}
                    <tr>
                        <td>{{ pedido.pedi_nume }}</td>
                        <td>{{ pedido.enti_nome }}</td>
                        <td>{{ pedido.pedi_data }}</td>
                        <td>{{ pedido.notas_contato|default:"" }}</td>
                        <td>
                            <form method="post" action="{% url 'marcar_contato_realizado' pedido.pedi_nume %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Contactar</button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">Nenhum pedido necessita de contato no momento.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Inclui o template de paginação -->
    {% include '_pagination.html' with page_obj=pedidos_necessitam_contato %}
</div>
{% endblock %}
